@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-align: center;
    background-image: url("https://images7.alphacoders.com/100/thumbbig-1003760.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
